.calendar {
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 4rem 2rem repeat(5, 100px);
}

.topbar {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  display: flex;
  justify-content: space-around;
  line-height: 4rem;
}

.prev,
.next {
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 8px;
  background-color: blue;

  &:hover {
    background-color: darkblue;
  }

  & svg {
    width: 25px;
    fill: antiquewhite;
    padding-block: 0.5rem;
    padding-inline: 0.5rem;
  }
}

.month-picker {
  line-height: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.year-picker {
  line-height: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;

  & label {
    font-weight: 600;
    letter-spacing: 1px;
  }

  & [type="text"] {
    padding-block: 0.5rem;
    padding-inline: 0.5rem;
    border-radius: 9999px;
    border: 1px solid transparent;
    background-color: rgb(228, 228, 228);
    font-weight: bold;
  }
}

.month {
  max-width: var(--month-picker-width);
  font-size: 1.1rem;
  border-radius: 9999px;
  padding-inline: 1rem;
  background-color: rgb(228, 228, 228);
  overflow: hidden;

}

.roll {
  display: none;
  grid-template-columns: repeat(12, 1fr);
  min-width: fit-content;
  transform: translateX(-16px);

  & span {
    display: inline-block;
    width: var(--month-picker-width);
    text-align: center;
    padding-block: 0.5rem;
    cursor: pointer;
  }
}

.header {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: subgrid;
  align-items: start;
  justify-items: center;
  border-top: 1px solid lightslategray;
  border-bottom: 1px solid lightslategray;
  line-height: 2rem;
}

.number-days-container {
  display: grid;
  grid-column: 1 / -1;
  grid-row: 3 / -1;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
}

.current-day {
  background-color: rgba(119, 136, 153, 0.3);
  border: 1px solid rgba(119, 136, 153, 0.3);
  cursor: pointer;

  &:hover {
    background-color: rgba(119, 136, 153, 0.5);
  }
}

.number-day {
  border: 1px solid rgba(119, 136, 153, 0.3);
  cursor: pointer;

  &:hover {
    background-color: rgba(119, 136, 153, 0.1);
  }
}