.ts-accordion {
  border-radius: 8px;
  margin-bottom: 1rem;
  transition: height 0.3s ease-in-out;
}

.ts-accordion-button {
  --button-color: rgb(88, 10, 161);
  --text-color: white;
  display: block;
  border: 1px solid transparent;
  background: rgb(from var(--button-color) r g b / 1);
  width: 100%;
  padding-block: 1.5rem;
  padding-inline: 1rem;
  cursor: pointer;
  color: var(--text-color);
  text-align: center;
  text-transform: uppercase;
}


.ts-accordion-button:hover {
  --color-hover: white;
  background-color: rgb(from var(--button-color) r g calc(b * 0.8) / 1);
  color: var(--color-hover);
}

.ts-accordion-button p {
  border-left: 1px solid transparent;
}

.ts-accordion-button h4 {
  margin-block: 0;
  margin-inline: auto;
  
}

.ts-accordion-button:first-child {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.ts-accordion-button:not(:last-child) {
  border-bottom: 1px solid white;
}

.ts-accordion-panel {
  border-radius: 8px;
  box-sizing: content-box;
  overflow: hidden;
  max-height: 0;
  padding-block: 0;
  padding-inline: 1rem;
  transition: max-height 0.3s ease-in-out;

  & p {
    box-sizing: content-box;
    border-radius: 8px;
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
    text-wrap: pretty;
    border-left: 1px solid transparent;
  }
}

.icon-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 1rem;

  & svg {
    fill: white;
    width: 1.5rem;
    height: 1.5rem;
    transform: rotate(0deg);
    transition: transform 0.3s ease-in-out;
  }
}